/*
Roboto:
    Light 300
    Light 300 italic
    Regular 400
    Black 900 italic
*/

/* Colour Schemes
----------------------------------------------------- */

/* Light Mode */

@media (prefers-color-scheme: light) {
    :root {
        --background-color: rgb(255, 254, 253);
        --text-color: rgb(32, 22, 11);
        --figcaption-color: rgba(232, 250, 237, 0.418);
        --blockquote-border-color: rgba(32, 22, 11, 0.20);
        --link-color: #3737ec;
        --link-visited: #551A8B;
        --email-color: #808080;
        --email-color-active-hover: #969696;
        --fb-color: #5370b1;
        --fb-color-active-hover: #7293da;
        --wapp-color: #34c469;
        --wapp-color-active-hover: #60ca87;
        --telegram-color: #509bd4;
        --telegram-color-active-hover: #6daedf;
        --twitter-color: #43a8e7;
        --twitter-color-active-hover: #64aee7;
        --reddit-color: #5f99cf;
        --reddit-color-active-hover: #7aafe0;
        --lin-color: #2783b4;
        --lin-color-active-hover: #5598bd;
        --tumblr-color: #46505e;
        --tumblr-color-active-hover: #6d7277;
        --pint-color: #ca2236;
        --pint-color-active-hover: #d44d5d;
    }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #212423;
        --text-color: #f5dfc2;
        --figcaption-color: #3e44428a;
        --blockquote-border-color: rgba(245, 223, 194, 0.20);
        --link-color: #65c9a3;
        --link-visited: #b785ce;
        --email-color: #808080;
        --email-color-active-hover: #969696;
        --fb-color: #5370b1;
        --fb-color-active-hover: #7293da;
        --wapp-color: #34c469;
        --wapp-color-active-hover: #60ca87;
        --telegram-color: #509bd4;
        --telegram-color-active-hover: #6daedf;
        --twitter-color: #43a8e7;
        --twitter-color-active-hover: #64aee7;
        --reddit-color: #5f99cf;
        --reddit-color-active-hover: #7aafe0;
        --lin-color: #2783b4;
        --lin-color-active-hover: #5598bd;
        --tumblr-color: #46505e;
        --tumblr-color-active-hover: #6d7277;
        --pint-color: #ca2236;
        --pint-color-active-hover: #d44d5d;
    }
    img {
        filter: brightness(.9) contrast(1.0);
    }
}

/* Box-sizing reset
----------------------------------------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
----------------------------------------------------- */

html {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.25s;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    padding-bottom: 2rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    border-top: 1px;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    max-width: 60rem;
}

figcaption {
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: solid 1px var(--blockquote-border-color);
}

.image {
    margin-top: 2rem;
    border-radius: 5px;
    background-color: var(--figcaption-color);
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 55rem;
}

.declaration {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-2col {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    gap: 2rem;
    padding-bottom: 2rem;
}

.share {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    justify-items: left;
    gap: 0.5rem;
}

/* Typography
----------------------------------------------------- */

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-size: 1.1rem;
    word-spacing: .02em;
}

h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 2.5rem;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 900;
    font-style: italic;
}

p {
    margin-top: 0;
}

figcaption {
    font-style: italic;
    text-align: left;
}

blockquote,
cite {
    font-style: italic;
}

strong {
    font-weight: 500;
}

em {
    font-weight: 300;
    font-style: italic;
}

a {
    font-style: italic;
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited);
}

/* reponsive behavious
----------------------------------------------------- */

/* 320px */

@media screen and (min-width: 20rem) {
    .grid-2col {
        grid-template-columns: 1fr;
    }
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .share {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 480px */

@media screen and (min-width: 30rem) {
    .share {
        grid-template-columns: repeat(3, 1fr);
    }
    blockquote {
        margin: 0;
        margin-left: 1rem;
    }
}

/* 640px */

@media screen and (min-width: 40rem) {
    .grid-2col {
        grid-template-columns: repeat(2, 1fr);
    }
    .share {
        gap: 0.7rem;
    }
    body {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* 832px */

@media screen and (min-width: 52rem) {
    .share {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Platform Sharing — https://sharingbuttons.io/
----------------------------------------------------- */

.resp-sharing-button__link, .resp-sharing-button__icon {
    display: inline-block;
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: auto;
    width: 100%;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 100ms ease-out;
    padding: 0.5rem 0.75rem;
}

.resp-sharing-button__icon svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;
    vertical-align: text-top;
}

/* Solid icons get a fill */

.resp-sharing-button__icon--solid, .resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none;
}

.resp-sharing-button--email {
    background-color: var(--email-color);
}

.resp-sharing-button--email:hover, .resp-sharing-button--email:active {
    background-color: var(--email-color-active-hover);
}

.resp-sharing-button--facebook {
    background-color: var(--fb-color);
}

.resp-sharing-button--facebook:hover, .resp-sharing-button--facebook:active {
    background-color: var(--fb-color-active-hover);
}

.resp-sharing-button--whatsapp {
    background-color: var(--wapp-color);
}

.resp-sharing-button--whatsapp:hover, .resp-sharing-button--whatsapp:active {
    background-color: var(--wapp-color-active-hover);
    ;
}

.resp-sharing-button--telegram {
    background-color: var(--telegram-color);
}

.resp-sharing-button--telegram:hover, .resp-sharing-button--telegram:active {
    background-color: var(--telegram-color-active-hover);
}

.resp-sharing-button--twitter {
    background-color: var(--twitter-color);
}

.resp-sharing-button--twitter:hover, .resp-sharing-button--twitter:active {
    background-color: var(--twitter-color-active-hover);
}

.resp-sharing-button--reddit {
    background-color: var(--reddit-color);
}

.resp-sharing-button--reddit:hover, .resp-sharing-button--reddit:active {
    background-color: var(--reddit-color-active-hover);
}

.resp-sharing-button--linkedin {
    background-color: var(--lin-color);
}

.resp-sharing-button--linkedin:hover, .resp-sharing-button--linkedin:active {
    background-color: var(--lin-color-active-hover);
}

.resp-sharing-button--tumblr {
    background-color: var(--tumblr-color);
}

.resp-sharing-button--tumblr:hover, .resp-sharing-button--tumblr:active {
    background-color: var(--tumblr-color-active-hover);
}

.resp-sharing-button--pinterest {
    background-color: var(--pint-color);
}

.resp-sharing-button--pinterest:hover, .resp-sharing-button--pinterest:active {
    background-color: var(--pint-color-active-hover);
}